* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

* {
    border: 1px solid red !important;
}

.color-gray {
    color: #BCBBBB;
}

.title-logo {
    margin-top: 20px;
}

.title-super {
    font-size: 40px;
}
