<!DOCTYPE html>
<html lang="en">
<head>
  <title>Skilltime</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{STATIC_URL}}css/hml.css">
  <script src="{{STATIC_URL}}js/jquery-3.6.0.min.js"></script>
</head>

<body>

  Skilltime


  <script src="{{STATIC_URL}}js/hml.js"></script>
</body>
</html>
